@model C1.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}
<div id="containershow">
@*navigation bar *@
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.Teacherid">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete the  @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This action cannot be undone</p>
@*form to delete *@
    <form method="POST" action="/Teacher/Delete/@Model.Teacherid">
@*delete button to delete form *@
        <button class="delButton" href="/Teacher/Show/@Model.Teacherid">Confirm Delete</button>
    </form>

</div>
